<ion-header no-border>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">Editar Asistente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>    
  <form (ngSubmit)="updateAsistente(fAsistente)" #fAsistente="ngForm">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Código</ion-label>
          <ion-input type="text" name="codigo" [(ngModel)]="asistente.codigo" disabled="true"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Fuente</ion-label>
            <ion-input type="text" name="fuente" [(ngModel)]="asistente.fuente" class="ion-text-capitalize"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" required name="name" [(ngModel)]="asistente.name" class="ion-text-capitalize"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
            <ion-label position="floating">AP. Paterno</ion-label>
            <ion-input type="text" required name="appaterno" [(ngModel)]="asistente.appaterno" class="ion-text-capitalize"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
            <ion-label position="floating">AP. Materno</ion-label>
            <ion-input type="text" name="apmaterno" [(ngModel)]="asistente.apmaterno" class="ion-text-capitalize"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
            <ion-label position="floating">Empresa</ion-label>
            <ion-input type="text" name="empresa" [(ngModel)]="asistente.empresa" class="ion-text-capitalize"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
            <ion-label position="floating">Cargo</ion-label>
            <ion-input type="text" name="cargo" [(ngModel)]="asistente.cargo" class="ion-text-capitalize"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
          <ion-label position="floating">Tipo de Invitado</ion-label>
          <ion-select value="notifications" interface="action-sheet" name="tipoinvitado" [(ngModel)]="asistente.tipoinvitado" cancelText="Cancelar" required>
            <ion-select-option value="Titular">Titular</ion-select-option>
            <ion-select-option value="Prensa">Prensa</ion-select-option>
            <ion-select-option value="Staff">Staff</ion-select-option>
            <ion-select-option value="Nuevo">Nuevo</ion-select-option>
            <ion-select-option value="VIP">VIP</ion-select-option>
          </ion-select>        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
            <ion-label position="floating">Télefono</ion-label>
            <ion-input type="text" name="telefono" [(ngModel)]="asistente.telefono"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
          <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" name="email" [(ngModel)]="asistente.email"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6">
            <ion-item>
                <ion-label position="floating">Ciudad</ion-label>
                <ion-input type="text" name="ciudad" [(ngModel)]="asistente.ciudad" class="ion-text-capitalize"></ion-input>
            </ion-item>
          </ion-col>
      <ion-col size="6">
        <ion-item>
            <ion-label position="floating">País</ion-label>
            <ion-input type="text" name="pais" [(ngModel)]="asistente.pais" class="ion-text-capitalize"></ion-input>
        </ion-item>
      </ion-col>
     
    </ion-row>
    <ion-row>
        <ion-col size="6">
            <ion-item>
                <ion-label position="floating">Lead Source</ion-label>
                <ion-input type="text" name="leadsource" [(ngModel)]="asistente.leadsource" class="ion-text-capitalize"></ion-input>
            </ion-item>
          </ion-col>
      <ion-col size="6">
        <ion-item>
            <ion-label position="floating">Lead Source Details</ion-label>
            <ion-input type="text" name="leadsourced" [(ngModel)]="asistente.leadsourced" class="ion-text-capitalize"></ion-input>
        </ion-item>
      </ion-col>
     
    </ion-row>
    <ion-row>
        <ion-col size="6">
            <ion-item>
                <ion-label position="floating">Product Interest</ion-label>
                <ion-input type="text" name="productinterest" [(ngModel)]="asistente.productinterest" class="ion-text-capitalize"></ion-input>
            </ion-item>
          </ion-col>
      <ion-col size="6">
        <ion-item>
            <ion-label position="floating">Lead Owner</ion-label>
            <ion-input type="text" name="leadowner" [(ngModel)]="asistente.leadowner" class="ion-text-capitalize"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="asistente.fasistencia">
        <ion-col size="6">
            <ion-item>
                <ion-label position="floating">Fecha de Asistencia</ion-label>
                <ion-datetime name="fasistencia" [(ngModel)]="asistente.fasistencia" disabled="true"></ion-datetime>
            </ion-item>
          </ion-col>
      <ion-col size="6">
        <ion-item>
            <ion-label position="floating">Hora de Asistencia</ion-label>
            <ion-datetime name="fasistencia" [(ngModel)]="asistente.fasistencia" display-format="h:mm A"  picker-format="h:mm A" disabled="true"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button type="submit" [disabled]="fAsistente.form.invalid" color="cgreen" expand="full" shape="round">Guardar</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="salirConArgumentos()" color="cgreen" expand="full" shape="round">Cerrar</ion-button>
      </ion-col>
    </ion-row>
  </form> 
</ion-content>
