<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="salas"></ion-back-button></ion-buttons>
    <ion-title>
        {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="clblue" [routerLink]="['/scansala']"><ion-icon name="qr-scanner"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <table>
          <thead>
          <tr class="radiustr">
            <th class="radiusthleft">Nombre</th>
            <th>AP. Paterno</th>
            <th>AP. Materno</th>
            <th>Empresa</th>
            <th>Tipo de Invitado</th>
            <th>Fecha de Ingreso</th>
            <th class="radiusthright">Hora de Ingreso</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dataGlobal">
            <td>{{data.name}}</td>
            <td>{{data.appaterno}}</td>
            <td>{{data.apmaterno}}</td>
            <td>{{data.empresa}}</td>
            <td>{{data.tipoinvitado}}</td>
            <td><ion-datetime name="created" [(ngModel)]="data.created" disabled="true"></ion-datetime></td>
            <td><ion-datetime name="created" [(ngModel)]="data.created" display-format="h:mm A"  picker-format="h:mm A" disabled="true"></ion-datetime></td>
          </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
    