<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="asistentes"></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showCard">
  <!--<ion-button (click)="takeScreenShoot()"><ion-icon slot="start" name="image"></ion-icon> Screenshot</ion-button>-->
    <ion-card>
      <ion-card-header><ion-card-title>{{asistente.name}} {{asistente.appaterno}} {{asistente.apmaterno}}</ion-card-title></ion-card-header>   
      <ion-card-content>
        <ion-grid>
          <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Empresa</ion-label>
                  <ion-text>{{asistente.empresa}}</ion-text>
                </ion-item>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Cargo</ion-label>
                <ion-text>{{asistente.cargo}}</ion-text>
              </ion-item> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>País</ion-label>
                <ion-text>{{asistente.pais}}</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                  <ngx-qrcode [qrc-value]="qrData"></ngx-qrcode>
              </ion-item> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <!--<ion-button>
                    <ion-icon slot="end" name="print" (click)="createPdf()"></ion-icon>
                    Crear
                  </ion-button>-->
              <ion-button>
                <ion-icon slot="end" name="print" (click)="downloadPdf()"></ion-icon>
                Descargar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!--<img src="data:image/png;base64,{{item.image1}}"/>-->
      </ion-card-content>
    </ion-card>

</ion-content>
