<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="salas"></ion-back-button></ion-buttons>
    <ion-title class="ion-text-capitalize">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <form (ngSubmit)="nuevaSala(fSala)" #fSala="ngForm">
        <ion-row>
          <ion-col>
            <ion-list>    
              <ion-item>
                  <ion-label position="floating">Código</ion-label>
                  <ion-input type="number" name="codigo" [(ngModel)]="sala.codigo" required></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input type="text" name="name" [(ngModel)]="sala.name" required class="ion-text-capitalize" ></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Tipo</ion-label>
                  <ion-select value="notifications" interface="action-sheet" name="tipo" [(ngModel)]="sala.tipo" cancelText="Cancelar" required>
                    <ion-select-option value="Puerta">Puerta</ion-select-option>
                    <ion-select-option value="Sala">Sala</ion-select-option>
                  </ion-select>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Aforo</ion-label>
                  <ion-input type="number" name="aforo" [(ngModel)]="sala.aforo"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Aforo superado</ion-label>
                  <ion-input type="number" name="aforosuperado" [(ngModel)]="sala.aforosuperado"></ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
              <ion-button type="submit"
                          class="clgreen"
                          expand="block"
                          [disabled]="fSala.form.invalid">
              Guardar
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
</ion-content>
