$cGreen: #2ad0a8;
$cBlack: #000;
$cWhite: #fff;


@font-face{
    font-family: Segoe-UI;
    src: url("/assets/fonts/segoe-ui-light-2.ttf");
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: Segoe-UI;
}


@mixin shadowsborderes{
    -webkit-box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
            -moz-box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
            box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
            --box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
}

.mainSlide, .mainSlide ion-slide {
    width: 100vw;
    height: 100vh;
    background: url("/assets/bg-cpg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //position: absolute;
    //top: 0;
    //bottom:0;
    //left: 0;
    //right: 0;
    //display: flex;
    justify-content: center;
}

.logotype {
    width: 150px;
    margin-bottom: 40px;
    margin-top: -40px;
}

.icologin{
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.btn{
    width: 100%;
}

.btn-verde{
    color: $cWhite;
}

ion-item{
    border-bottom: 1px solid rgba($cBlack, .4);
}
ion-input{
    // text-transform: lowercase!important;
    color: $cGreen;
    
}
ion-content{
    ion-button{
        text-transform: capitalize;
        border-radius: 50px!important;
        --border-radius: 50px!important;
        @include shadowsborderes;
        background: $cGreen;
        --background: $cGreen;
        display: block;
        width: 100%;
        &:hover{
            background: $cGreen;
            --background: $cGreen;
        }
    }
}

ion-text{
    font-family: Segoe-UI;
    font-size: 14px;
}

ion-footer{
    ion-button{
        font-family: Segoe-UI!important;
        font-size: 14px;
    }
}

form{
    width: 50%;
    margin: 0 auto;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){
    form{
        width: 100%!important;
        margin: 0 auto;
    }
}