<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="event"></ion-back-button></ion-buttons>
    <ion-title>
        {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Invitados</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <ion-badge color="primary">{{cantMasivo}}</ion-badge>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Nuevos Registros</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <ion-badge color="primary" slot="end">{{cantIndividual}}</ion-badge>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Asistentes Invitados</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <ion-badge color="primary" slot="end">{{cantInvitadosOn}}</ion-badge>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Asistentes en Evento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <ion-badge color="primary" slot="end">{{sum}}</ion-badge>
      </ion-card-content>
    </ion-card>

</ion-content>
