<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="asistentes"></ion-back-button></ion-buttons>
    <ion-title class="ion-text-capitalize">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <form (ngSubmit)="nuevoAsistente(fAsistente)" #fAsistente="ngForm">
        <ion-row>
          <ion-col>
            <ion-list>    
              <ion-item class="remove_inner_bottom">
                  <ion-label position="floating">Código</ion-label>
                  <ion-input type="text" name="codigo" [(ngModel)]="asistente.codigo" required></ion-input>
              </ion-item>

              <ion-item class="remove_inner_bottom">
                <ion-label position="floating">Fuente</ion-label>
                <ion-input type="text" name="fuente" [(ngModel)]="asistente.fuente" class="ion-text-capitalize"></ion-input>
            </ion-item>

              <!--<ion-item>
                  <ion-label position="floating">Tipo de invitado</ion-label>
                  <ion-select value="notifications" interface="action-sheet" name="codigo" [(ngModel)]="asistente.tipoinvitado" cancelText="Cancelar" required>
                    <ion-select-option value="vipp">VIP</ion-select-option>
                    <ion-select-option value="pote">Ponente</ion-select-option>
                    <ion-select-option value="rear">Regular</ion-select-option>
                  </ion-select>
              </ion-item>-->

              <ion-item class="remove_inner_bottom">
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input type="text" name="name" [(ngModel)]="asistente.name" required class="ion-text-capitalize"></ion-input>
              </ion-item>

              <ion-item class="remove_inner_bottom">
                  <ion-label position="floating">AP. Paterno</ion-label>
                  <ion-input type="text" name="appaterno" [(ngModel)]="asistente.appaterno" required class="ion-text-capitalize"></ion-input>
              </ion-item>

              <ion-item class="remove_inner_bottom">
                  <ion-label position="floating">AP. Materno</ion-label>
                  <ion-input type="text" name="apmaterno" [(ngModel)]="asistente.apmaterno" required class="ion-text-capitalize"></ion-input>
              </ion-item>

              <ion-item class="remove_inner_bottom">
                  <ion-label position="floating">Empresa</ion-label>
                  <ion-input type="text" name="empresa" [(ngModel)]="asistente.empresa" required class="ion-text-capitalize"></ion-input>
              </ion-item>

              <ion-item class="remove_inner_bottom">
                  <ion-label position="floating">Cargo</ion-label>
                  <ion-input type="text" name="cargo" [(ngModel)]="asistente.cargo" class="ion-text-capitalize"></ion-input>
              </ion-item>

              <ion-item class="remove_inner_bottom">
                  <ion-label position="floating">Tipo de Invitado</ion-label>
                  <ion-select value="notifications" interface="action-sheet" name="tipoinvitado" [(ngModel)]="asistente.tipoinvitado" cancelText="Cancelar" required>
                    <ion-select-option value="Titular">Titular</ion-select-option>
                    <ion-select-option value="Prensa">Prensa</ion-select-option>
                    <ion-select-option value="Staff">Staff</ion-select-option>
                    <ion-select-option value="Nuevo">Nuevo</ion-select-option>
                    <ion-select-option value="VIP">VIP</ion-select-option>
                  </ion-select>
              </ion-item>

              <ion-item class="remove_inner_bottom">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" name="email" [(ngModel)]="asistente.email"></ion-input>
            </ion-item>

            <ion-item class="remove_inner_bottom">
                <ion-label position="floating">Télefono</ion-label>
                <ion-input type="tel" name="telefono" [(ngModel)]="asistente.telefono"></ion-input>
            </ion-item>

            <ion-item class="remove_inner_bottom">
                <ion-label position="floating">Ciudad</ion-label>
                <ion-input type="text" name="ciudad" [(ngModel)]="asistente.ciudad" class="ion-text-capitalize"></ion-input>
            </ion-item>

            <ion-item class="remove_inner_bottom">
                <ion-label position="floating">País</ion-label>
                <ion-input type="text" name="pais" [(ngModel)]="asistente.pais" class="ion-text-capitalize"></ion-input>
            </ion-item>

            <ion-item class="remove_inner_bottom">
                <ion-label position="floating">Lead Source</ion-label>
                <ion-input type="text" name="leadsource" [(ngModel)]="asistente.leadsource" class="ion-text-capitalize"></ion-input>
            </ion-item>

            <ion-item class="remove_inner_bottom">
                <ion-label position="floating">Lead Source Details</ion-label>
                <ion-input type="text" name="leadsourced" [(ngModel)]="asistente.leadsourced" class="ion-text-capitalize"></ion-input>
            </ion-item>

            <ion-item class="remove_inner_bottom">
                <ion-label position="floating">Product Interest</ion-label>
                <ion-input type="text" name="productinterest" [(ngModel)]="asistente.productinterest" class="ion-text-capitalize"></ion-input>
            </ion-item>

            <ion-item class="remove_inner_bottom">
                <ion-label position="floating">Lead Owner</ion-label>
                <ion-input type="text" name="leadowner" [(ngModel)]="asistente.leadowner" class="ion-text-capitalize"></ion-input>
            </ion-item>

            <ion-item class="remove_inner_bottom">
                <ion-label>Dar Asistencia</ion-label>
                <ion-toggle color="cgreen" name="asisitio" [(ngModel)]="asistente.asistio"></ion-toggle>
            </ion-item>

              <!--<ion-item>
                  <ion-label position="floating">DNI</ion-label>
                  <ion-input type="number" name="dni" [(ngModel)]="asistente.dni" required></ion-input>
              </ion-item>-->

              

              

              <!--<ion-item class="remove_inner_bottom">
                  <ion-label position="floating">Comentarios</ion-label>
                  <ion-textarea name="comentarios" [(ngModel)]="asistente.comentarios" class="ion-text-capitalize"></ion-textarea>
              </ion-item>-->

            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center" size="6">
              <ion-button type="submit"
                          class="clgreen"
                          expand="block"
                          [disabled]="fAsistente.form.invalid">
              Guardar
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
</ion-content>
