<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="asistentes"></ion-back-button></ion-buttons>
    <ion-title class="ion-text-capitalize">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
        <ion-item class="remove_inner_bottom inputupload">
          <label class="item item-input">
            <input type="file" class="inputfile " id="file" name="uploadfile">
            <ion-icon name="link"></ion-icon>
          </label>
        </ion-item>
    </ion-col>  
  </ion-row>

  <ion-row>
    <ion-col>
        <ion-item class="clblue remove_inner_bottom">
          <ion-icon name="cloud-upload"></ion-icon>
          <ion-button  (click)="getFile()">Cargar Base de Datos</ion-button>
        </ion-item>
    </ion-col>  
  </ion-row>
  <!--<section>
      <header class="ion-padding">Sube archivo en formato .xls</header>
      <ion-button expand="full" shape="round" (click)="onUpload()">
        <ion-icon slot="start" name="document"></ion-icon>Importar
      </ion-button>
    </section>-->
</ion-content>
