$cBlue: #438DED;
$cGreen: #2ad0a8;
$cBlack: #000;
$cWhite: #fff;
$cGrey: #E5E5E5;


@font-face{
    font-family: Segoe-UI;
    src: url("/assets/fonts/segoe-ui-light-2.ttf");
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: Segoe-UI;
}

ion-header{
    ion-toolbar{
        background: $cGrey;
        --background: $cGrey;
        ion-title{
            color: $cGreen;
        }
        ion-buttons{
            ion-button{
                color: $cGreen!important;
                --ion-color-base: $cGreen!important;
                font-weight: 600;
            }
        }
    }
}

ion-content{
    ion-list{
        ion-item{
            ion-label{
                font-family: Segoe-UI;
            }
            ion-textarea{
                height: 25px;
            }
        }
    }
}

$cBlue: #438DED;
$cGreen: #2ad0a8;
$cBlack: #000;
$cWhite: #fff;


@font-face{
    font-family: Segoe-UI;
    src: url("/assets/fonts/segoe-ui-light-2.ttf");
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: Segoe-UI;
}

@mixin shadowsborderes{
    -webkit-box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
            -moz-box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
            box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
            --box-shadow: 0px 2px 1px 0px rgba(3,221,43,0.15);
}

.clgreen{
  text-transform: capitalize;
  border-radius: 50px!important;
  --border-radius: 50px!important;
  @include shadowsborderes;
  background: $cGreen;
  --background: $cGreen;
  &:hover{
      background: $cGreen;
      --background: $cGreen;
  }
}

.inputupload {
  .item-input{
    border: 1px solid rgba($cBlack,0.15);
    --border: 1px solid rgba($cBlack,0.15);
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    position: relative;
    .inputfile {
      // width: 0.1px;
      // height: 0.1px;
      // opacity: 0;
      // overflow: hidden;
      // position: absolute;
      // z-index: -1;
      color: rgba($cBlack,0.75);
      }
    ion-icon{
      background: $cBlue;
      --background: $cBlue;
      color: rgba(255,255,255,.75);
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
      padding: 9px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.clblue{
  text-transform: capitalize;
  border-radius: 50px!important;
  --border-radius: 50px!important;
  @include shadowsborderes;
  background: $cBlue;
  --background: $cBlue;
  -webkit-box-shadow: 0px 2px 1px 0px rgba($cBlue,0.15);
  -moz-box-shadow: 0px 2px 1px 0px rgba($cBlue,0.15);
  box-shadow: 0px 2px 1px 0px rgba($cBlue,0.15);
  --box-shadow: 0px 2px 1px 0px rgba($cBlue,0.15);
  width: 100px;
  // height: 30px;
  text-transform: uppercase;
  margin: 0 auto;
  color: rgba(255,255,255,.75);
  ion-button{
    box-shadow: none!important;
    --box-shadow: none!important;
    background: $cBlue;
  --background: $cBlue;
  }
  ion-icon{
    color: rgba(255,255,255,.75);
  }
  &:hover{
      background: $cBlue;
      --background: $cBlue;
  }
}

.itemlin{
  border: 0!important;
}

.remove_inner_bottom{
  --inner-border-width: 0; // this removes the inner border width
}