$cBlue: #438DED;
$cGreen: #2ad0a8;
$cBlack: #000;
$cWhite: #fff;


@font-face{
    font-family: Segoe-UI;
    src: url("/assets/fonts/segoe-ui-light-2.ttf");
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: Segoe-UI;
}


.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.headerevent{
  // --background:$cWhite!important;
  ion-toolbar{
    background: url('/assets/bg-cpg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    --background: url('/assets/bg-cpg.jpg');
    border: 0!important;
  }
  ion-buttons{
    color: $cWhite;
    img{
      margin-left: 25px;
    }
  }
  ion-title{
    color: #fff;
    font-size: 18px;
    background: #2ad0a8;
    --background: $cGreen;
    width: 100%;
    margin-top: -28px;
    height: 81px;
    padding: 10px;
    padding-left: 20px;
    padding-top: 35px;
    text-transform: capitalize;
    font-weight: 400;
    margin-left: 15%;
    letter-spacing: 2px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

.eventtool{
  background:$cBlue!important;
}

.toolbar-background{
  display: none!important;
}
.toolbar-container{
  display: none!important;
}