<ion-header no-border>
  <ion-toolbar>
    
    <img src="/assets/cgp-logo-10.svg" width="150" alt="">
  </ion-toolbar>
</ion-header>

<ion-content padding>    
  <form>
    <ion-row>
      <ion-col>
        <ion-list>    
          <ion-item>
              <ion-title text-capitalize>Recuperación de la cuenta</ion-title>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input type="email" required></ion-input>
              <ion-text color="primary">
                <h6>Se le enviará un mensaje con su nueva contraseña.</h6>
              </ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="salirConArgumentos()" color="cgreen" expand="full" shape="round">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </form> 
</ion-content>
